*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    height: 10vh;
}
.nav h1{
    margin-right: 300px;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
.nav h1{
    color:#00008B;
}
a:hover{
    color: #00008B;
}
#dugme1{
    border-radius: 50px;
    border-color: #00008B;
    width:170px;
    height: 50px;
    background-color: white;
    color: #00008B;
    bore

}
.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container h1{
    color: #00008B;
    text-transform: capitalize;
    font-size: 40px;
    margin-top: 30px;

}
#ikonica{
    color: #00008B;
    padding-top: 10;
}
span{
    color: black;
    font-size: 15px;
    text-transform: capitalize;
    padding-top: 10px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.dugme-2{
    border-radius: 50px;
    border-color: #00008B;
    width:150px;
    height: 40px;
    background-color: #00008B;
    color: white;
    margin-top: 30px;
}
.dugme3{
    border-radius: 50px;
    border-color: rgb(102, 60, 243);
    width:170px;
    height: 40px;
    /* background-color:#00008B; */
    color: #00008B;
    text-transform: capitalize;

}



.footer{
    width: 100%;
    height: 13vh;
    background-color:rgb(200,200,200);
   padding: 0 30px;
}
.ikonice{
    border-radius: 50%;
    
    
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: px;
    text-align: center;
    
    
}
#bost{
    color: #00008B;
}
.insta,.facebok, .skype, .un{
    border-radius: 50px;
    background: #808080;
    margin: 8px;
    width: 35px;
    height: 20px;

}
.footer h3{
    font-size: 10px;
    ma
}
#resi{
    font-size: 13px;
}